<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="fw-bold lh-1 text-body-emphasis">About Us</h1>
        <p>xyz.com is a Professional coding Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of coding, with a focus on dependability and Coding Tutorials. We're working to turn our passion for coding into a booming online website. We hope you enjoy our coding as much as we enjoy offering them to you.I will keep posting more important posts on my Website for all of you. Please give your support and love.
            
           <br> Thanks For Visiting Our Site
            
           <br><b class="text-center">Have a nice day!.</b></p>
        <div class="d-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 mx-2">Default</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img class="rounded-lg-3" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" height="360" width="720px">
      </div>
    </div>
  </div>