<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2">Home</a></li>
            <li><a href="/about" class="nav-link px-2">About</a></li>
            <li><a href="/contact" class="nav-link px-2">Contact</a></li>
            <li><a href="/blog" class="nav-link px-2">Blog</a></li>
        </ul>

        <form class="d-flex col-12 col-lg-auto mb-3 mb-lg-3 me-lg-3 m-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            <button class="btn btn-primary mx-2">Search</button>
        </form>
    </div>
</div>